.back-link {
    max-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #1f1e1d4d;
    margin-bottom: 20px;
    cursor: pointer;
    transition:
        background-color 0.4s ease,
        color 0.4s ease,
        box-shadow 0.4s ease;

    color: #141413;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.4s ease;

    &:hover {
        color: #f3ece8;
        background-color: #ba7517;
        box-shadow: 0 0 0 3px #ba751720;
    }
}

