.history-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &__icon {
        width: 42px;
        height: 42px;
        min-width: 42px;
        background-color: #faeeda;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #854f0b;
        font-size: 18px;
        font-weight: 500;
    }

    &__info {
        flex: 1;
    }

    &__name {
        font-size: 14px;
        font-weight: 500;
        color: #2c2c2a;
        margin-bottom: 4px;
    }

    &__description {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #888780;
    }

    &__time {
        font-size: 13px;
        font-weight: 500;
        color: #854f0b;
        background-color: #faeeda;
        border-radius: 20px;
        padding: 4px 10px;
        white-space: nowrap;
    }
}

