.workout-page {
    padding-inline: 48px;

    &__top-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        gap: 12px;
        margin-bottom: 32px;
    }

    &__item {
        padding: 20px;
        border: 1px solid #1f1e1d26;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        min-width: 380px;
    }
}

