.history-button {
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: #dd9323;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

